<%- include('./partials/messages') %>
<div class="text-center">
  <form action="/sign-up" method="POST" class="form-signin">
    <img
      class="mb-4"
      src="/img/blogging.svg"
      alt=""
      width="72"
      height="72"
    />
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    <label for="name"  class="sr-only">Name</label>
      <input
        type="name"
        id="name"
        name="name"
        class="form-control"
        placeholder="Name"
        value="<%= typeof name != 'undefined' ? name : '' %>"
      />
      <label for="email" class="sr-only">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        placeholder="Email"
        value="<%= typeof email != 'undefined' ? email : '' %>"
      />
      <label for="password" class="sr-only">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        placeholder="Password"
        value="<%= typeof password != 'undefined' ? password : '' %>"
      />
      <label for="password2" class="sr-only">Confirm Password</label>
      <input
        type="password"
        id="confirmpassword"
        name="password2"
        class="form-control"
        placeholder="Confirm Password"
        value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
      />
    <button class="btn btn-lg btn-success btn-block" type="submit">
      Register
    </button>
    <p class="mt-5 mb-3 text-muted">Already registered? Login <a href="/login">here</a></p>
    <p class="mt-5 mb-3 text-muted">&copy; Gaurav</p>
  </form>
  
  
</div>