<%- include('./partials/navbar') %> <%- include('./partials/jumbotron') %>
<div class="container">
  <%- include('./partials/messages') %>
  <% if (blogs.length > 0) {%>
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-interval="2000"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleCaptions"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="/<%= featured[0]._id%>">
          <img
            src="<%= featured[0].imageURL%>"
            class="d-block w-100 h-100 img-fluid"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5><%= featured[0].title%></h5>
            <p><%= truncate(stripTags(featured[0].body), 50)%></p>
          </div>
        </a>
      </div>
      <div class="carousel-item">
        <a href="/<%= featured[1]._id%>">
          <img
            src="<%= featured[1].imageURL%>"
            class="d-block w-100 img-fluid"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5><%= featured[1].title%></h5>
            <p><%= truncate(stripTags(featured[1].body), 50)%></p>
          </div>
        </a>
      </div>
      <div class="carousel-item">
        <a href="/<%= featured[2]._id%>">
          <img
            src="<%= featured[2].imageURL%>"
            class="d-block w-100 img-fluid"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5><%= featured[2].title%></h5>
            <p><%= truncate(stripTags(featured[2].body), 50)%></p>
          </div>
        </a>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleCaptions"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleCaptions"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="mt-5">
    <div class="col-sm-9">
      <h2 class="display-2 mb-0">Recent Viral Stories</h2>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <% blogs.forEach((blog) => {%>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
              <a href="/<%=blog._id%>">
                <img
                  class="card-img-top"
                  src="<%=blog.imageURL%>"
                  alt="Card image cap"
                />
              </a>
              <div class="card-block">
                <a href="/<%=blog._id%>">
                  <h6 class="card-title mt-4"><%- truncate(stripTags(blog.title), 50)%></h6>
                </a>

                <small class="card-text p-y-1">
                  <%- truncate(stripTags(blog.body), 150)%>
                </small>
                <div class="d-flex justify-content-between mt-2">
                  <a href="/users/<%=blog.user._id%>">
                    <h6 class="text-muted"><%= blog.user.name%></h6>
                  </a>
                  <a href="/tags/<%= blog.tag%>">
                    <span class="badge badge-pill badge-warning text-uppercase"><%= blog.tag%></span>
                  </a>
                </div>
                <small><%= formatDate(blog.createdAt, 'MMM Do YYYY, h:mm a')%></small>
              </div>
            </div>
          </div>
          <% });%>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <a href="/more_stories" class="btn btn-outline-warning">More Stories</a>
  </div>

  <% } else {%>
    <div class="col-sm-9">
      <h2 class="display-2 mb-0">Looks like you are the first user, create first Viral.</h2>
    </div>
  <% }%>
  <%- include('./partials/footer') %>
</div>
